VITE_FB_apiKey = your_creds
VITE_FB_authDomain = your_creds
VITE_FB_projectId = your_creds
VITE_FB_storageBucket = your_creds
VITE_FB_messagingSenderId = your_creds
VITE_FB_appId = your_creds
VITE_FB_measurementId = your_creds